.notification {
    color: white;
    border-radius: 0.5rem;
    display: flex;
    position: relative;
    margin: 1rem 4rem 4rem 7rem;
    width: 80rem;
}

.success {
    background-color: rgb(47, 231, 1);
}

.error {
    background-color: rgb(255, 67, 67);
}

.notification p {
    width: 80%;
    padding: 0.5rem;
}

.notification button {
    top: 5px;
    right: 5px;
    position: absolute;
}